* {
	margin: 0px;
	padding: 0px;
}

header {
	background: red;
	padding: 50px 0px;
	position: static;
}

header ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

header ul li {
	display: inline-block;
	margin: 0px 5px;
}